@tailwind base;
@tailwind components;
@tailwind utilities;
label, div, button {
  user-select: none;
  caret-color: transparent;
}
input, textarea {
  user-select: text;       
  caret-color: auto;       
}